<div class="row movie">
  <div class="col-xs-4">
    <%= link_to movie.title, movie %>
  </div>
  <div class="col-xs-2">
    <%= movie.release_date %>
  </div>
  <div class="col-xs-2">
    <%= movie.genre %>
  </div>
</div>
