<div class="container">
  <h1>Movies - Now Playing</h1>
  <div class="row">
    <div class="col-xs-4">
      <strong>Title</strong>
    </div>
    <div class="col-xs-2">
      <strong>Release Date</strong>
    </div>
    <div class="col-xs-2">
      <strong>Genre</strong>
    </div>
  </div>
  <%= render @movies %>
  <button class="get-movies btn btn-default btn-lg btn-primary">Refresh Movie List and clear reviews</button>
</div>

<script type="text/javascript">
  $(Index.runScripts);
</script>
