<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <h1>Movies - Now Playing</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <table id="movies" class="table tablesorter">
      <thead>
        <tr>
          <th>
            <strong>Title</strong>
            <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
            </button>
          </th>
          <th>
              <strong>Release Date</strong>
              <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
          </th>
          <th>
              <strong>Genre</strong>
              <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
              </button>
          </th>
        </tr>
      </thead>
      <tbody>
      <%= render @movies %>
      </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-4">
      <button class="get-movies btn btn-default btn-lg btn-warning">
        Refresh movie List and clear reviews</button>
    </div>
    <div class="col-xs-3">
      <a href="<%= reviews_url %>" class="btn btn-default btn-lg btn-primary">
        See all reviews
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(Index.runScripts);
</script>
