@import "bootstrap-sprockets";
@import "bootstrap";

#info, #errors {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.col-xs-12 {
  h1 {
    text-align: center;
  }
  img {
    display: block;
    margin: auto;
  }
}
